@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*,body{
    font-family: Inter, Arial, Helvetica, sans-serif;;
    
    
}

.brand{
    font-size: 30px;
}
.dot{
    font-size: 40px;
    color: crimson;
}
.links a:hover{
    color: crimson;
}

.main-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-text h1{
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 30px;
    line-height: 70px;
}
.secondary-text{
    
    display: flex;
    justify-content: center;
}
.secondary-text small{
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
}
.grid {
    column-gap: 1rem;
}
 article{
     max-width: 600px;
     height: 200px; 
     
         
}

.card{
    
    padding-top: 10px;
    border-left: 7px solid crimson;
}

.icons{
    max-width: 50px;
    margin-right: 20px ;
    padding-top: 20px;
    padding-bottom: 20px;
    color: crimson;
}
.title{
    font-size: 27px;
}




.title a{
    font-weight: 700;
    color: #48BBF6;
    text-decoration: underline;
    font-size: 22px;
}


.title a:hover{
    color: #3185af;
}


.dot2{
    color: crimson;
    font-size: 70px;
}

.card{
    margin-bottom: 20px;
    margin-top: 20px;
}

footer{
    text-align: center;
    }
    
    footer p{
        margin-bottom: 10px;
    }
    
    
    .foot-icon{
        width: 20px;
        color: crimson;
    }
    
    footer p a{
        color: white;
        text-decoration: underline;
    }
    
    
    footer p a:hover{
        color: crimson;
        text-decoration: underline;
    }


  @media (min-width:10px) and  (max-width:320px){
    
    .brand{
        font-size:1.2rem;
        margin-left: 1rem;
    }
    .main-text h1{
        
        font-size: 2.5rem;
        line-height: 2rem;
    }
    .secondary-text small {
        font-size: 1rem !important;
    }
    .card{
        
        max-width: 15rem !important;
        height: auto;
        margin-left: 1rem;
    }
    .title a{
        font-size: .9rem;

    }
    .icons{
        max-width:2rem ;
    }



  }

  @media (min-width:321px) and  (max-width:575px){
    
    .brand{
        font-size:2.1rem;
        margin-left: 1.5rem;
    }
    .main-text h1{
        
        font-size: 3.5rem;
        line-height: 3rem;
    }
    .secondary-text small {
        font-size: 1rem !important;
    }
    .card{
        
        max-width: 25rem !important;
        height: auto;
        margin-right: 5% !important;
        
    }
    article{
        margin-left: 5% !important;
    }
   


  }

  @media(max-width:999px){
    

    .card{
        
        max-width: 30rem !important;
        height: auto;
        margin-left: 10%;

    }
    .brand{
        font-size: 1.5rem;
    }
    .dot{
        font-size:30px;
    }
    .main-text h1{
        margin-left: 10px;
    }
   


  }

